.horizontal-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slide-arrow-container {
    background-color: #C4C4C4;
    padding: 5rem 0.8rem;
    display: flex;
    align-items: center;
    box-shadow: 0.0rem 0rem 2rem 0.2rem  rgba(5, 5, 5, 0.425);
    cursor: pointer;
}
.slider-arrow {
    height: 30px;
}
.flip-slider-arrow {
    transform: rotateY(180deg);
}
 